<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lampmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.InicialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CalculadoraActivity"
            android:label="@string/label_calculadora"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.calculadora.ImcActivity"
            android:label="@string/label_imc"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeImc"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.calculadora.ChurrascoActivity"
            android:label="@string/label_churrasco"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeChurrasco"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.calculadora.CombustivelActivity"
            android:label="@string/label_combustivelXetanol"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCombustivel"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.calculadora.ConsumoActivity"
            android:label="@string/label_consumo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeConsumo"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.calculadora.TxJurosActivity"
            android:label="@string/label_tx_juros"
            android:screenOrientation="portrait"
            android:theme="@style/AppTxJurosTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.LeitoresActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>